# Kubernetes secret
k8s/postgres-secret.yaml
k8s/backend-secret.yaml
# Maven
backend/employee-management-backend/target/
backend/employee-management-backend/.mvn/

# Java
*.class

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env
